<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlace de inicio de sesión</title>
    <link rel="shortcut icon" href="data:," type="image/x-icon">
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    Dale click al siguiente enlace para acceder al sistema. </br>
    <a href="{{.MagicLink}}" target="_blank" rel="noopener">ACCEDER</a>
</body>
</html>
